.upper-about{
  text-align: center;
  color: white;
  font-family: custom;
  line-height: 1.5em;
}

.main-button-about{
   background-color: rgba(0, 0, 0, 0);
  height: 50px;
  border: 1px solid #f5f5f5;
  font-family: Beyno;
  outline: hidden;
  color: #f5f5f5;
  padding: 15px;
  font-size: 01em;
}

@media (max-width: 760px) {
  a{
    padding-bottom: 15px;
  }

}
